/* Open Modal */

.exit-btn{
    position: absolute;
    font-size: var(--xxlg-font);
    right: 12px;
    top: 10px;
    transition: all .3s ease;
    

}


.openModal-btn {
    font-size: var(--lg-font);
    transition: all .3s ease;

}
.openModal-btn:hover ,.exit-btn:hover{
    color: var(--og-yellow);
    text-shadow: 0 0 0 3px rgba(127, 255, 0, 0.3);

}

.primary-btn{
    background-color: var(--og-yellow);
    border-radius: 4px;
    border: none;
    padding: 5px;
    box-shadow: var(--button-shadow)
}

.todo__exit-btn{
    position: absolute;
    font-size: var(--lg-font);
    right: 4px;
    top: 4px;
    transition: all .3s ease;
}