@import url('./main.css');
@import url('./login.css');
@import url('./nav.css');
@import url('./contact.css');
@import url('./buttons.css');
@import url('./taskwall.css');
@import url('./task.css');
@import url('./addtask.css');
@import url('./sidebar.css');
@import url('./metrics.css');