.login__section--wrapper {
  background-image: url("../images/closeup-shot-rice-plant-sunset-with-plantation-background.jpg");
  background-size: cover;
  background-position: center;
}
.login--containter {
  display: flex;
  align-items: start;
  justify-content: center;
  padding-top: 40px;
  min-height: calc(100vh - var(--nav-height));
  min-height: calc(100dvh - var(--nav-height));
}
.login-form--wrapper {
  /* border: 2px solid orange; */
  background-color: rgba(var(--bg-color), 0.9);
  border-radius: 8px;
  height: 427px;
  width: 297px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;

  text-align: center;
}
.login-form {
  /* border: 2px solid orange; */
  flex: 5;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  padding: 0 10px;
}
.login-privacy--wrapper {
  flex: 3;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.login-privacy {
  font-size: var(--lg-font);
  padding: 18px;
}
.login-register {
  font-size: var(--lg-font);
}

.input-wrapper input {
  border: none;
  background-color: transparent;
  font-size: 1.4rem;
  width: 100%;
  padding: 10px 0;
}

.input-wrapper {
  border: none;
  border-bottom: 2px solid var(--text-color);
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.log-icon {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
}

/*  Tablet */
@media (min-width: 768px) {
  .login-form--wrapper {
    height: 727px;
    width: 597px;
  }
  .login-form {
    /* border: 2px solid orange; */
    flex: 5;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-aroucnd;

    padding: 0 10px;
  }
  .login-privacy {
    font-size: var(--xxlg-font);
    padding: 18px;
  }
}
