.wall--wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100dvh - var(--nav-height) - var(--contact-height));
    overflow-y: auto;
}

.metrics-wall--wrapper{
  display: grid;
  grid-template-columns:1fr;
  grid-auto-rows: minmax(100px , auto);
  gap: 10px;
  width: 90%;
  height: 100%;
  padding-bottom: 1rem;
}

.metric--container{
    background-color: rgba(240, 248, 255, 0.52);
    border: 2px solid #EA9D29;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}
/* .metric--container.graph{
    height: 200px;
} */

.metric--title--wrapper{
  padding: 8px 0 0 18px;
  
}
.metric--title{
  color: #4D5D6D;

  
  
}
.metric--progress-bar--wrapper{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circular--progress-bar{
  width: 80px;
  height: 90px;
  display: flex;
  padding: 0 20px 0 0;
}



.metric--progress-bar{
 font-size: 3rem;
 color: #EA9D29;
 font-weight: 600;
}

.metric--task-wrapper{
  display: flex;
  flex-direction: column;
  height: 90px;
  overflow-y: scroll;

}
.metric--task-bar{
  
  font-size: var(--xxlg-font);
  color: #EA9D29;
  font-weight: 500;
  
}